@model Turnos.Models.Especialidad

<h1>Especialidad</h1>

<div>
    <!--Le decimos que en nuestro action vamos enviarle los datos al método Edit y nos retonrará a una vista-->
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="IdEspecialidad">
            <div>
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion">
                <span asp-validation-for="Descripcion"></span>
            </div>
        <div>
            <input type="submit" value="Guardar cambios">
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>